tmp/**/*
tmp/tags
log/*.log
log/*.pid
db/*.sqlite3
db/*.sql
db/schema.rb
config/database.yml
config/deploy.rb
.loadpath
.project
.DS_Store
cache/views/*
test/fixtures/settings.yml
doc/api
doc/app
tmp/restart.txt
.autotest
public/stylesheets/cache/*
public/javascripts/cache/*
public/system
config/development.sphinx.conf
db/sphinx/development/*
vendor/plugins/admin_data
nbproject
.svn
tags
